<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="mitsubishi_arm">
  <property name="table_y_length" value="1.0" />
  <property name="camera_table_y_offset" value="0.265" />
  <property name="camera_table_x_offset" value="1.0" />

  <!-- Import all Gazebo-customization elements, including Gazebo colors -->
  <xacro:include filename="$(find mitsubishi_arm_description)/urdf/mitsubishi_rv_6sdl_arm.gazebo" />

  <!-- Import Rviz colors -->
  <xacro:include filename="$(find mitsubishi_arm_description)/urdf/materials.xacro" />

  <!-- ros_control plugin -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/mitsubishi_arm</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
    </plugin>
  </gazebo>

  <gazebo>
    <plugin name="gazebo_ros_joint_trajectory" filename="libgazebo_ros_joint_pose_trajectory.so">
      <robotNamespace>/mitsubishi_arm</robotNamespace>
      <alwaysOn>true</alwaysOn>
      <updateRate>100.0</updateRate>
    </plugin>
  </gazebo>


  <!-- Used for fixing robot to Gazebo 'base_link' -->
  <link name="world"/>

  <joint name="fixed" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
  </joint>  

  <!-- LINKS   -->  
  <xacro:include filename="$(find mitsubishi_arm_description)/urdf/mitsubishi_rv_6sdl_arm.xacro" />
`
  <joint name="end_effector_to_gripper_palm" type="fixed">
    <axis xyz="0 0 1"/>
    <limit effort="1000.0" lower="${(-360+offset_from_limit)*PI/180}" upper="${(360-offset_from_limit)*PI/180}" velocity="0.2"/>
    <parent link="end_effector"/>
    <child link="palm_frame"/>
    <origin xyz="0 0 0.065"  rpy="0 0 0"/> <!-- original is 0.085 but we have the torque sensor...-->
   <dynamics damping="100.0" friction="100.0" />
  </joint>

  <!-- end_effector -->
  <link name="palm_frame">
    <inertial>
      <origin xyz="0 0 1" rpy="0 0 0"/>
      <mass value="0.01"/>
      <inertia 
        ixx="1.0" ixy="0.0" ixz="0.0" 
        iyy="1.0" iyz="0.0" 
        izz="1.0"/>
    </inertial>
  </link>

  <joint name="finger_1_joint" type="fixed">
    <axis xyz="0 0 1"/>
    <parent link="palm_frame"/>
    <child link="finger_1"/>
    <origin xyz="0 0 0"  rpy="0 0 1.56"/> <!-- original is 0.085 but we have the torque sensor...-->
   <dynamics damping="100.0" friction="100.0" />
  </joint>

  <link name="finger_1">
    <visual>
     <geometry>
	<box size="0.350 .05 .02"/>
      </geometry>
      <origin xyz="0 0 -0.011"/> 
      <material name="orange">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
     <geometry>
	<box size="0.350 .05 .02"/>
      </geometry>
      <origin xyz="0 0 -0.011"/> 
    </collision>
    <inertial>
      <origin xyz="0 0 1" rpy="0 0 0"/>
      <mass value="0.01"/>
      <inertia 
        ixx="1.0" ixy="0.0" ixz="0.0" 
        iyy="1.0" iyz="0.0" 
        izz="1.0"/>
    </inertial>
  </link>


  <joint name="finger_2_joint" type="fixed">
    <parent link="finger_1"/>
    <child link="finger_2"/>
    <origin xyz="0.17 0 0.12"  rpy="0 1.56 0"/> <!-- original is 0.085 but we have the torque sensor...-->
    <dynamics damping="100.0" friction="100.0" />
  </joint>

  <link name="finger_2">
    <visual>
     <geometry>
	<box size="0.2 .05 .02"/>
      </geometry>
      <origin xyz="0 0 -0.011"/> 
      <material name="orange">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
     <geometry>
	<box size="0.1 .05 .02"/>
      </geometry>
      <origin xyz="0 0 -0.011"/> 
    </collision>
    <inertial>
      <origin xyz="0 0 1" rpy="0 0 0"/>
      <mass value="0.01"/>
      <inertia 
        ixx="1.0" ixy="0.0" ixz="0.0" 
        iyy="1.0" iyz="0.0" 
        izz="1.0"/>
    </inertial>
  </link>

  <joint name="finger_3_joint" type="fixed">
    <parent link="finger_1"/>
    <child link="finger_3"/>
    <origin xyz="-0.17 0 0.12"  rpy="0 1.56 0"/> <!-- original is 0.085 but we have the torque sensor...-->
    <dynamics damping="100.0" friction="100.0" />
  </joint>


  <link name="finger_3">
    <visual>
     <geometry>
	<box size="0.2 .05 .02"/>
      </geometry>
      <origin xyz="0 0 -0.011"/> 
      <material name="orange">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
     <geometry>
	<box size="0.1 .05 .02"/>
      </geometry>
      <origin xyz="0 0 -0.011"/> 
    </collision>
    <inertial>
      <origin xyz="0 0 1" rpy="0 0 0"/>
      <mass value="0.01"/>
      <inertia 
        ixx="1.0" ixy="0.0" ixz="0.0" 
        iyy="1.0" iyz="0.0" 
        izz="1.0"/>
    </inertial>
  </link>


  <!-- Kinect -->
  <!--<xacro:include filename="$(find mitsubishi_arm_description)/urdf/sensors.xacro" />-->

  <!-- kinect to base link -->
 <!-- <joint name="camera_in_world_joint" type="fixed">
    <parent link="base_link"/>
    <child link="camera_link"/>
    <origin xyz="0.796357 0.919602 0.431341" rpy="0.0247013 0.415733 -1.55723"/>
  </joint>  -->


  <!-- Kinect Camera Location (Nominally 0) -->
  <property name="cal_kinect_x" value="0.0" />
  <property name="cal_kinect_y" value="0.0" />
  <property name="cal_kinect_z" value="0.0" />
  <property name="cal_kinect_roll" value="0.0" />
  <property name="cal_kinect_pitch" value="0.0" />
  <property name="cal_kinect_yaw" value="0.0" />
  <xacro:include filename="$(find mitsubishi_arm_description)/urdf/sensors.urdf.xacro" />


  <!-- Base of Kinect/Prosilica Mount -->
  <xacro:kinect_camera_v0 name="camera" parent="base_link" >
     <origin xyz="0.796357 0.919602 0.431341" rpy="0.0247013 0.415733 -1.55723"/>
  </xacro:kinect_camera_v0 >

</robot>

