<launch>
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find mitsubishi_arm_control)/config/mitsubishi_arm_control.yaml" command="load"/>

  <!-- load the controllers -->
  <!--<node ns="/mitsubishi_arm"  name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="joint_state_controller joint1_position_controller joint2_position_controller joint3_position_controller joint4_position_controller joint5_position_controller joint6_position_controller"/>-->

  <node ns="/mitsubishi_arm" name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="joint_state_controller mitsubishi_arm_trajectory_controller"/>

  <!-- Given the published joint states, publish tf for the robot links -->
  <node ns="/mitsubishi_arm" name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

</launch>
