<launch>


  <!-- Load mitsubishi arm hardware interface and controller manager -->
  <include file="$(find mitsubishi_arm_hardware_interface)/launch/mitsubishi_arm_hardware_interface.launch"/>

  <!-- Load mitsubishi arm controllers -->
  <include file="$(find mitsubishi_arm_control)/launch/mitsubishi_arm_control.launch"/>

  <!-- Given the published joint states, publish tf for the robot links -->
  <include file="$(find mitsubishi_arm_config)/launch/moveit.launch"/>

  <node name="static_environment" pkg="mitsubishi_arm_move" type="static_environment" />





</launch>

