<?xml version="1.0"?>
<launch>


  <!-- Load mitsubishi arm hardware interface and controller manager -->
  <include file="$(find mitsubishi_arm_gazebo)/launch/mitsubishi_arm_world.launch"/>

  <!-- Load mitsubishi arm controllers -->
  <include file="$(find mitsubishi_arm_control)/launch/mitsubishi_arm_control_gazebo.launch" />

  <!-- Given the published joint states, publish tf for the robot links -->
  <include file="$(find mitsubishi_arm_config)/launch/moveit_gazebo.launch"/>

  <node name="static_environment" pkg="mitsubishi_arm_move" type="static_environment" />





</launch>

